#canvas {
display: block
}


#startBtn {
    border: 5px tomato solid;
    font-size: 40px;
    position: absolute;
    left: 26%;
    top: 40%;
    width: 140px
}


#restart {
    display: none;
    border: 5px tomato solid;
    font-size: 40px;
    position: absolute;
    left: 26%;
    top: 40%;
    width: 140px
}